::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#canvas {
  display: flex;
  height: 100%;
}

#canvas .spinner-loader {
  width: 18px;
  height: 18px;
  position: relative;
  margin: 0 0 10px 10px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #51B162;
  border-left-color: #51B162;
  border-radius: 50%;
  margin: auto;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}